USE [Senocak]
GO
/****** Object:  Table [dbo].[Bin]    Script Date: 3.08.2022 22:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bin](
	[Id] [int] NOT NULL,
	[bank_code] [int] NOT NULL,
	[bank_name] [varchar](255) NOT NULL,
	[bin_number] [int] NOT NULL,
	[card_type] [varchar](255) NOT NULL,
	[organization] [varchar](255) NOT NULL,
	[is_commercial_card] [tinyint] NOT NULL,
	[is_support_installment] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeLog]    Script Date: 3.08.2022 22:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[Banka] [varchar](50) NULL,
	[BankaSiparisId] [varchar](255) NULL,
	[StackTrace] [varchar](max) NULL,
	[Exception] [varchar](max) NULL,
	[Tarih] [datetime] NULL,
	[Ip] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_OdemeLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bin] ([Id], [bank_code], [bank_name], [bin_number], [card_type], [organization], [is_commercial_card], [is_support_installment]) VALUES (1, 10, N'ZİRAAT BANKASI', 413226, N'creditcard', N'VISA', 0, 0)
INSERT [dbo].[Bin] ([Id], [bank_code], [bank_name], [bin_number], [card_type], [organization], [is_commercial_card], [is_support_installment]) VALUES (2, 10, N'ZİRAAT BANKASI', 444676, N'creditcard', N'VISA', 0, 0)
INSERT [dbo].[Bin] ([Id], [bank_code], [bank_name], [bin_number], [card_type], [organization], [is_commercial_card], [is_support_installment]) VALUES (3, 10, N'ZİRAAT BANKASI', 444677, N'creditcard', N'VISA', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[OdemeLog] ON 

INSERT [dbo].[OdemeLog] ([Id], [ErrorMessage], [Banka], [BankaSiparisId], [StackTrace], [Exception], [Tarih], [Ip], [Status]) VALUES (1, N'(Kredi karti numarasi gecerli formatta degil.) - ', NULL, NULL, NULL, NULL, CAST(N'2022-08-03T22:08:17.197' AS DateTime), N'::1', NULL)
INSERT [dbo].[OdemeLog] ([Id], [ErrorMessage], [Banka], [BankaSiparisId], [StackTrace], [Exception], [Tarih], [Ip], [Status]) VALUES (2, N'(Kredi karti numarasi gecerli formatta degil.) - ', NULL, NULL, NULL, NULL, CAST(N'2022-08-03T22:09:10.173' AS DateTime), N'::1', NULL)
INSERT [dbo].[OdemeLog] ([Id], [ErrorMessage], [Banka], [BankaSiparisId], [StackTrace], [Exception], [Tarih], [Ip], [Status]) VALUES (3, N'(Kredi karti numarasi gecerli formatta degil.) - ', NULL, N'0308202222114596', NULL, NULL, CAST(N'2022-08-03T22:12:03.577' AS DateTime), N'::1', NULL)
SET IDENTITY_INSERT [dbo].[OdemeLog] OFF
GO
