@{
    ViewBag.Title = "Ödeme Başarısız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="odeme-bg">
    <div class="cssanimation hu__hu__">
    </div>
</div>
<div class="odeme-basarili">
    <div class="odeme-icerik">
        <div class="ony">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 4572.92 4572.92"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"/>
                    <g id="_1716297365712">
                        <circle fill="#E31E24" cx="2286.46" cy="2286.46" r="2286.46"/>
                        <path fill="#AC2421" d="M2832.63 4507.1c422.33,-103.57 798.59,-324.36 1092.26,-626.05 168.45,-190.81 318.15,-401.57 431.06,-621.52 124.64,-264.53 200.01,-556.83 214.36,-865.09l-1238.37 -983.97 -2095.38 1782.17 1596.07 1314.46z"/>
                        <path fill="#FEFEFE" fill-rule="nonzero" d="M2709.25 2286.46l657.67 838.06c10.02,15.03 15.03,32.57 15.03,52.61 0,22.55 -8.77,42.59 -26.31,60.13 -17.54,17.54 -38.83,26.31 -63.89,26.31l-574.99 0c-32.57,0 -58.25,-8.77 -77.04,-26.31 -18.79,-17.54 -33.2,-32.57 -43.22,-45.1l-311.92 -394.6 -308.17 394.6c-10.02,12.53 -24.43,27.56 -43.22,45.1 -18.79,17.54 -44.47,26.31 -77.04,26.31l-574.99 0c-25.06,0 -46.35,-8.77 -63.89,-26.31 -17.54,-17.54 -26.31,-37.58 -26.31,-60.13 0,-20.04 5.01,-37.58 15.03,-52.61l665.19 -853.1 -646.4 -823.03c-10.02,-15.03 -15.03,-32.57 -15.03,-52.61 0,-22.55 8.77,-42.59 26.31,-60.13 17.54,-17.54 38.83,-26.31 63.89,-26.31l582.51 0c32.57,0 58.25,8.77 77.04,26.31 18.79,17.54 33.2,32.57 43.22,45.1l289.38 372.06 289.37 -372.06c10.02,-12.53 24.43,-27.56 43.22,-45.1 18.79,-17.54 44.47,-26.31 77.04,-26.31l582.51 0c25.06,0 46.35,8.77 63.89,26.31 17.54,17.54 26.31,37.58 26.31,60.13 0,20.04 -5.01,37.58 -15.03,52.61l-650.16 838.06z"/>
                    </g>
                </g>
            </svg>

        </div>
        <h1>Ödeme Başarısız.</h1>
        <h2>Lütfen daha sonra tekrar deneyiniz.(@ViewBag.sonuc)</h2>
        <h2>Anasayfaya yönlendiriliyorsunuz.</h2>
        <h2><a href="/">Anasayfaya Dön</a></h2>
        <div class="secures">
            <img src="/img/secure.png" class="img-fluid">
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        window.location.assign("/");
    }, 5000);
</script>